deploymentStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1

resources:
  requests:
    cpu: "1"
    memory: 300Mi
  limits:
    cpu: "1"
    memory: 300Mi

serverConfig:
  configuration:
    logLevel: error
