[Unit]
Description=ociregistry
Documentation=https://github.com/aceeric/ociregistry
After=network.target

[Service]
ExecStart=/bin/ociregistry-server\
  --image-path=/var/lib/ociregistry\
  --log-level=info\
  serve
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
