name: Server

on:
  workflow_dispatch:
  push:
    tags:        
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.0

      - name: Test
        shell: bash
        run: |
          make test

  publish_server:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up QEMU for Buildx Multi-Platform
        uses: docker/setup-qemu-action@v2

      - name: Login to Quay
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ vars.QUAY_CI_ACCOUNT }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Build and push the server image
        shell: bash
        run: |
          make image
