name: Unit tests

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.7

      - name: Test
        shell: bash
        run: |
          make test

      - name: Coverage Badge
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.testcoverage.yml
          git-token: ${{ secrets.MY_TOKEN }}
          git-branch: badges

      - name: Go Report Card
        uses: creekorful/goreportcard-action@v1.0
